p
{background-color: black;


}

.caja-flex  
{  
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    border-radius: 1rem;
    gap: 100px;
   
} 

.jc-end 
{ display: flex;
    justify-content: end;


}